<ion-view view-title="A propos">
	<ion-content scroll="false" class="padding">
		<h1>A propos</h1>
		<p>
			Application développé sous Ionic utilisant l'API open source Open Weather.
		</p>
		<div>
			<img  style="margin-top: 0px;" class="imagelogo" src="..\img\01n.png"> 
			<span style="margin-top: 13px; position: absolute;">Nuit (~3h) </span>
		</div>
		<div>
			<img style="margin-top: 0px;" class="imagelogo" src="..\img\02n.png">
			<span style="margin-top: 13px; position: absolute;">Matin (~8h) </span>
		</div>
		<div>
			<img style="margin-top: 0px;" class="imagelogo" src="..\img\01d.png">
			<span style="margin-top: 13px; position: absolute;">Après-midi (~13h)</span>
		</div>
		<div>
			<img style="margin-top: 0px;" class="imagelogo" src="..\img\02n.png">
			<span style="margin-top: 13px; position: absolute;">Soir (~21h) </span>
		</div>	
	</ion-content>
</ion-view>